<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
      {% if page.title %}{{ page.title }} &middot; {{ site.title }}
      {% else %}{{ site.author }}{% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.description %}<meta name="description" content="{{ page.description }}">
    {% elsif page.summary %}<meta name="description" content="{{ page.summary }}">
    {% else %}<meta name="description" content="{{ site.description }}">{% endif %}
    <link rel="icon" href="/favicon.png">
    <link rel="alternate" type="application/rss+xml"  title="RSS"   href="/feed.xml" />
    <script src="//use.typekit.net/cup5bnl.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="/style.css" type="text/css">
    {% if page.jquery %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {% endif %}
    {% if page.fotorama %}
    <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.2/fotorama.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.2/fotorama.js"></script>
    {% endif %}
</head>
<body>
